<div>
  <h2>Conoce al equipo Waybear </h2>
</div>
<div >
    <mat-grid-list cols="4" >
        <mat-grid-tile class="sec">
            <img src="./assets/img/Victor2.jpg" >
            
        </mat-grid-tile>
        <mat-grid-tile  class="sec">
            <img src="./assets/img/Isaac2.jpg" >
        </mat-grid-tile>
        <mat-grid-tile  class="sec">
            <img src="./assets/img/Kriss2.jpg" >
        </mat-grid-tile>
        <mat-grid-tile  class="sec">
            <img src="./assets/img/brandon3.jpg" >
        </mat-grid-tile>
      </mat-grid-list>
  
</div>
