<div>
    <h1>Bienvenidos a Waybear </h1>
  </div>
  <div>
    <img src="./assets/img/sw.png" width="200px" height="200px">
  </div>
  <div class="margin-top-20">
    Somos una empresa que brinda soluciones tecnológicas innovadoras con el fin de
  incrementar la competitividad y productividad de las empresas y StartUps.
  
  </div>
  <div>
    <h3>Es nuestra misión</h3>
  
  </div>
  <div>
     <mat-progress-bar
            class="example-margin"
            color="primary"
            mode="indeterminate"
            >
        </mat-progress-bar>
        <div class="margin-top-20">
          <button mat-raised-button color="accent" routerLink="/team">Conoce al equipo</button>
        
        </div>
  </div>